@import "@prestashopcorp/puik-theme";
@import "tailwindcss";

@theme {
  --color-bg: white;
  --color-text: black;
}

@layer base {
  html {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}
